table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 50px;
  }

#cookieImg{
    cursor: pointer;
    transform: scale(1);
}

#cookieImg:active {
    transform: scale(1.03);
  }