table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 50px;
}

#counter{
    position: relative;
}

#counter p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#counterPoints{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#cjImg{
    cursor: pointer;
    transform: scale(1);
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

#cjImg:active {
    transform: scale(1.03);
}

#pointsPerSecond{
    width: 300px;
}